@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.roundedDarkGreen, .roundedGreen {
  border-radius: 36px;
  background: #013B1C;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  border: none;
  letter-spacing: 0.08em; }

.roundedGreen {
  background: #17822F;
  min-width: 220px; }

.subscribe {
  background: #013B1C;
  border-radius: 4px;
  min-width: 185px;
  color: #FFF;
  letter-spacing: 0.16em;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  height: 48px;
  padding: 5px 10px;
  box-sizing: border-box; }

button:focus {
  outline: none; }

.btnPrimary {
  background: #029924;
  color: #FFF;
  border: none;
  font-weight: 600;
  font-size: 1.5rem; }

.carousel-indicators [data-bs-target] {
  background-color: #FFF;
  border: 1px solid black;
  background-clip: unset;
  width: 10px;
  height: 10px;
  border-radius: 100%; }

.carousel-indicators .active {
  background-color: #22c146;
  border: 1px solid #22c146; }

.social {
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 42px;
  height: fit-content;
  z-index: 99; }
  .social ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 7px;
    font-size: 1.688rem; }
    .social ul li {
      transition: all 1s; }
      .social ul li a {
        color: #131212; }
      .social ul li .wsp {
        color: #22c146; }
    .social ul li:hover {
      transform: scale(1.5, 1.5); }

.homePosition {
  position: absolute;
  bottom: 20px;
  right: 32px; }

#bgSliderProducts {
  background-image: url("../src/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#bgProductInfo {
  background-image: url("../src/bg1-1.png");
  background-repeat: no-repeat;
  background-position-y: 80%; }

.sliderProductos {
  width: 100%;
  height: 694px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .sliderProductos .info {
    width: 45%;
    height: 100%;
    padding: 60px 0; }
    .sliderProductos .info p {
      color: #DADADA;
      opacity: 0.8; }
    .sliderProductos .info .light {
      font-size: 3rem;
      text-transform: uppercase; }
    .sliderProductos .info .bold {
      font-size: 6rem;
      font-weight: 700;
      line-height: 10px; }
  .sliderProductos .sliderProductList {
    width: 45%;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start; }
    .sliderProductos .sliderProductList .title {
      display: flex;
      flex-flow: row wrap; }
      .sliderProductos .sliderProductList .title h2 {
        color: #4A4A4A;
        margin: 0;
        font-weight: 300;
        font-size: 3rem;
        text-transform: uppercase;
        display: inline;
        line-height: 90px;
        width: 370px; }
      .sliderProductos .sliderProductList .title .sliderControlers {
        display: inline-flex;
        flex-flow: column wrap;
        justify-content: start;
        height: fit-content;
        font-size: 1.8rem;
        margin-left: 26px; }
      .sliderProductos .sliderProductList .title .sliderControlers div:hover {
        cursor: pointer; }
    .sliderProductos .sliderProductList .subtitle {
      font-size: 1.5rem;
      font-color: #4A4A4A;
      width: 75%; }
    .sliderProductos .sliderProductList .products {
      width: 372px;
      display: flex;
      flex-flow: row wrap; }
      .sliderProductos .sliderProductList .products a {
        display: block;
        width: 100%;
        height: 100%; }
      .sliderProductos .sliderProductList .products .product, .sliderProductos .sliderProductList .products .viewMore {
        width: 186px;
        height: 186px; }
      .sliderProductos .sliderProductList .products .viewMore {
        color: #22c146;
        font-size: 4.5rem;
        text-align: center;
        line-height: 10px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; }
        .sliderProductos .sliderProductList .products .viewMore p {
          color: #131212;
          font-size: 1.25rem;
          font-weight: bold; }
      .sliderProductos .sliderProductList .products .viewMore:hover, .sliderProductos .sliderProductList .products .product:hover {
        cursor: pointer; }

.subscribeForm {
  background: url("../src/subscribeForm.png") no-repeat;
  background-size: cover;
  height: 302px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px -10px 10px rgba(3, 3, 3, 0.11); }
  .subscribeForm input {
    height: 51px;
    width: 343px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px; }
  .subscribeForm input::placeholder {
    color: #798077; }
  .subscribeForm h4 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 20px;
    text-transform: uppercase;
    color: #013B1C; }
  .subscribeForm p {
    font-size: 1.5rem;
    color: #798077;
    margin-bottom: 44px; }

.subpagesHero {
  width: 100%;
  height: 354px;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .subpagesHero p {
    width: 60%;
    color: #FFF;
    padding: 0px 40px;
    font-size: 3rem;
    font-weight: 600;
    line-height: 48px; }

#catalogHero {
  background: url("../src/banner-estanco1.png"); }

#productHero {
  background: url("../src/heroedetail.png"); }
  #productHero p {
    color: #53746b; }

.productCard {
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.17);
  background: #FFF; }
  .productCard a {
    text-decoration: none;
    color: #131212; }
  .productCard .cardImage {
    width: 100%; }
    .productCard .cardImage img {
      width: 100%; }
  .productCard .productCardInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 20px 10px;
    box-sizing: border-box; }
    .productCard .productCardInfo .productCardName {
      width: 200px;
      font-weight: 600;
      font-size: 1.25rem; }
    .productCard .productCardInfo .productCardPrice {
      background-color: #029924;
      height: fit-content;
      font-weight: 600;
      font-size: 1.25rem;
      color: #FFF;
      padding: 2px 15px 2px 8px;
      box-sizing: border-box; }

.breadcrumb ul {
  list-style-type: none; }
  .breadcrumb ul li {
    display: inline;
    margin: 0 20px; }
    .breadcrumb ul li a {
      display: inline-block;
      text-decoration: none;
      color: #4A4A4A;
      font-weight: 300; }
    .breadcrumb ul li .active {
      font-weight: 700;
      text-decoration: underline; }
  .breadcrumb ul li:first-child {
    font-weight: bold; }
  .breadcrumb ul li a:hover {
    font-weight: bold; }

.breadcrumbDetalle ul {
  list-style-type: none; }
  .breadcrumbDetalle ul li {
    display: inline;
    text-transform: capitalize; }
    .breadcrumbDetalle ul li a {
      display: inline-block;
      text-decoration: none;
      color: #4a4a4a;
      font-weight: 300; }

.qty input {
  width: 34px;
  border: none;
  border-bottom: 1px solid #131212;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem; }

.qty input:focus {
  border: 0;
  border-bottom: 1px solid #131212;
  outline: 0px; }

.qty button {
  height: fit-content;
  border: 0;
  background: #FFF;
  color: #029924;
  font-weight: 700;
  font-size: 1.2rem; }

.releatedProducts {
  background: rgba(233, 233, 233, 0.6);
  height: 770px; }
  .releatedProducts h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 42px 0; }
  .releatedProducts .releatedProductList {
    justify-content: space-evenly !important; }

.divider {
  border: 1px solid rgba(121, 128, 119, 0.7); }

form {
  width: 445px;
  margin: 80px auto 0 auto; }
  form input {
    height: 48px; }
  form input, form textarea {
    border: 2px solid #53746B;
    border-radius: 13px;
    display: block;
    width: 445px;
    margin: 36px 0;
    padding: 12px 20px; }
  form input:focus, form textarea:focus {
    outline: none;
    border: 2px solid #22C146; }
  form button {
    width: 100%;
    border-radius: 13px !important; }

header {
  width: 100%;
  height: 113px;
  background-color: #FFF;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  header h1 {
    display: none; }
  header img {
    display: inline-block; }
  header nav {
    display: inline-block; }
    header nav ul {
      list-style-type: none;
      margin: 0; }
      header nav ul li {
        display: inline;
        margin: 0 26px; }
        header nav ul li a {
          display: inline-block;
          text-decoration: none;
          color: #131212;
          text-transform: uppercase;
          font-size: 1.125rem; }
        header nav ul li a:hover {
          color: #17822f; }
        header nav ul li .icon:hover {
          cursor: pointer; }

footer {
  background: rgba(1, 59, 28, 0.8);
  height: 335px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #FFF;
  font-size: 1.125rem; }
  footer .contactInfo {
    width: 20%; }
    footer .contactInfo .phoneNumber {
      font-weight: 700; }
      footer .contactInfo .phoneNumber a {
        color: #FFF;
        text-decoration: none; }
      footer .contactInfo .phoneNumber .iconify {
        font-size: 24px; }
    footer .contactInfo .city {
      line-height: 18px; }
  footer .socialLinks {
    width: 20%; }
    footer .socialLinks .followGreen {
      font-weight: 600;
      color: #64FF83;
      text-align: right;
      margin-right: 8px;
      line-height: 18px; }
    footer .socialLinks ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: fit-content;
      float: right; }
      footer .socialLinks ul li {
        display: inline;
        margin: 0 8px; }
        footer .socialLinks ul li a {
          display: inline-block;
          color: #FFF;
          font-size: 1.5rem; }
        footer .socialLinks ul li a:hover {
          color: #FFF; }

.twoColumnSection {
  display: flex;
  width: 100%;
  height: 878px;
  margin: 0 auto;
  align-items: center; }

.country {
  height: 1000px;
  width: 100%;
  background: url("../src/argDotted.png") no-repeat;
  background-position: left;
  position: absolute;
  z-index: 5;
  opacity: 0.1; }

.nacional {
  height: 426px;
  margin-top: -35px; }
  .nacional img {
    filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.23));
    position: absolute;
    left: 0;
    z-index: 2;
    margin-top: 35px; }
  .nacional .imagesBackground {
    background: no-repeat center/150% url("../src/bg-hojas.jpg");
    width: 60%;
    height: inherit;
    position: absolute;
    right: 0;
    mix-blend-mode: multiply; }
    .nacional .imagesBackground .layer {
      background-color: #3a884c;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .nacional .textImage {
    width: 30%;
    color: #FFF;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 0px 4px 4px #000000;
    line-height: 50px;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 130px 110px; }

.howTo {
  height: 606px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .howTo .howToInfo {
    z-index: 6;
    padding: 0 0 0 100px; }
    .howTo .howToInfo h3 {
      color: #131212;
      font-weight: 700;
      font-size: 3rem; }
    .howTo .howToInfo p {
      font-weight: 300;
      font-size: 1.5rem; }
  .howTo .howToImage {
    padding: 0 100px 0 0; }

.productInfo {
  background-color: #e0ffe5;
  width: 100%;
  height: 309px;
  box-shadow: 10px 10px 10px rgba(3, 3, 3, 0.11);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .productInfo #imgQuality {
    background: url("../src/stars.png") no-repeat center; }
  .productInfo #imgEcofriendly {
    background: url("../src/ecology.svg") no-repeat center; }
  .productInfo #imgPayment {
    background: url("../src/creditcards.svg") no-repeat center; }
  .productInfo #imgQuality, .productInfo #imgEcofriendly, .productInfo #imgPayment {
    height: 65px; }
  .productInfo .productInfoCard {
    width: 33%;
    padding: 0 32px;
    text-align: center; }
    .productInfo .productInfoCard h4 {
      color: #5E755D;
      font-weight: 700;
      font-size: 18px;
      margin: 18px 0 20px 0; }
    .productInfo .productInfoCard p {
      color: #7C7C7C;
      font-weight: 300; }
  .productInfo .borderVerde {
    border-left: 2px solid #22c146;
    border-right: 2px solid #22c146; }

.recetas {
  height: 846px;
  margin-top: 20px; }
  .recetas .action {
    height: 279px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .recetas .action p:first-child {
      color: #5d6265;
      font-weight: 700;
      font-size: 3rem;
      line-height: 0; }
    .recetas .action .greenTextBold {
      color: #17822f;
      font-weight: 700;
      font-size: 2.25rem; }
    .recetas .action .thinParagraph {
      color: #7c7c7c;
      font-weight: 300;
      font-size: 1.25rem; }
  .recetas .images {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.content {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
  padding: 33px 0px; }

.productContent {
  display: flex;
  flex-flow: row nowrap; }

.productList {
  width: 95%;
  height: fit-content;
  display: grid;
  grid-template-columns: 292px 292px 292px;
  grid-template-rows: 453px;
  grid-row-gap: 81px;
  justify-content: space-around;
  margin-bottom: 83px; }

.detaiLGrid {
  display: grid;
  grid-template-areas: "breadcrumbDetalle social" "productDetail social";
  grid-template-columns: auto 50px;
  grid-template-rows: 50px auto; }
  .detaiLGrid .breadcrumbDetalle {
    grid-area: breadcrumbDetalle; }
  .detaiLGrid .productDetail {
    grid-area: productDetail;
    display: flex;
    justify-content: space-between; }
    .detaiLGrid .productDetail .imageProductDetail {
      width: 50%; }
      .detaiLGrid .productDetail .imageProductDetail img {
        width: 100%; }
    .detaiLGrid .productDetail .infoProductDetail {
      width: 30%;
      margin: 0 auto;
      color: #4A4A4A; }
      .detaiLGrid .productDetail .infoProductDetail h2 {
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 34px; }
      .detaiLGrid .productDetail .infoProductDetail h3 {
        margin-top: 12px;
        font-weight: bold;
        font-size: 2.25rem;
        color: #029924; }
      .detaiLGrid .productDetail .infoProductDetail .qty {
        margin-top: 24px; }
        .detaiLGrid .productDetail .infoProductDetail .qty p {
          display: inline;
          font-weight: 600;
          font-size: 1.25rem;
          margin-right: 12px; }
      .detaiLGrid .productDetail .infoProductDetail button.btnPrimary {
        margin-top: 52px;
        width: 369px;
        height: 60px; }
      .detaiLGrid .productDetail .infoProductDetail .productDescription {
        color: #131212;
        font-weight: 300;
        font-size: 1.25rem;
        margin-top: 32px; }
  .detaiLGrid .social {
    grid-area: social; }

#contactImage {
  background: url("../../src/contactImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%; }

.contactForm {
  width: 50%; }
  .contactForm h2 {
    color: #029924;
    font-weight: 600;
    font-size: 3rem;
    text-align: center; }

.cartPreview {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: rgba(83, 116, 107, 0.74);
  overflow-x: hidden;
  transition: 0.3s; }
  .cartPreview .cartPreviewContent {
    width: 50%;
    height: fit-content;
    background: #FFF;
    position: absolute;
    right: 0;
    box-shadow: -7px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: column nowrap; }
    .cartPreview .cartPreviewContent .previewTitle {
      color: #53746B;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      font-size: 3rem;
      font-weight: 700;
      padding: 32px; }
      .cartPreview .cartPreviewContent .previewTitle .back:hover {
        cursor: pointer; }
      .cartPreview .cartPreviewContent .previewTitle h2 {
        width: fit-content;
        margin-left: 160px; }
    .cartPreview .cartPreviewContent .previewProductList {
      width: 95%;
      height: fit-content;
      margin: 0 auto; }
      .cartPreview .cartPreviewContent .previewProductList .previewCard {
        display: grid;
        flex-flow: row nowrap;
        grid-template-areas: "productImg productName productName" "productImg productCant productCant" "productImg productPrice deleteIcon";
        column-gap: 14px; }
      .cartPreview .cartPreviewContent .previewProductList .productImg {
        grid-area: productImg;
        width: 165px; }
      .cartPreview .cartPreviewContent .previewProductList .productName {
        grid-area: productName;
        color: #4A4A4A;
        font-size: 1.5rem;
        font-weight: 600; }
      .cartPreview .cartPreviewContent .previewProductList .productCant {
        grid-area: productCant;
        color: #4A4A4A;
        font-size: 1rem;
        font-weight: 600; }
      .cartPreview .cartPreviewContent .previewProductList .productPrice {
        grid-area: productPrice;
        background: #029924;
        width: fit-content;
        padding: 3px 12px;
        color: #FFF;
        font-weight: 600;
        font-size: 1.25rem; }
      .cartPreview .cartPreviewContent .previewProductList .deleteIcon {
        grid-area: deleteIcon;
        font-size: 1.5rem;
        color: #626262; }
      .cartPreview .cartPreviewContent .previewProductList .deleteIcon:hover {
        cursor: pointer; }
    .cartPreview .cartPreviewContent .subtotal {
      width: 95%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      color: #53746B;
      font-size: 2.25rem;
      font-weight: 600; }
    .cartPreview .cartPreviewContent button {
      width: 60%;
      margin: 24px auto; }

.order {
  height: 100% !important; }
  .order h1 {
    display: none; }
  .order h2 {
    margin-top: 54px;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 36px; }
  .order h3 {
    color: #53746B;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 23px; }
  .order form {
    margin: 24px auto 0 auto !important;
    padding-bottom: 36px; }
  .order .datosPedido {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
  .order .resumenPedido {
    width: 50%;
    height: 100vh;
    background: #F2F2F2;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 32px 0; }
    .order .resumenPedido .resumenCard {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 80%; }
      .order .resumenPedido .resumenCard img {
        width: 165px; }
      .order .resumenPedido .resumenCard .productName {
        width: 40%;
        color: #4A4A4A;
        font-size: 1.5rem;
        font-weight: 600; }
      .order .resumenPedido .resumenCard .productPrice {
        color: #4A4A4A;
        font-size: 1.25rem;
        font-weight: 600; }
    .order .resumenPedido .divider {
      margin-top: 32px;
      width: 80%; }
    .order .resumenPedido .totals {
      display: grid;
      width: 80%;
      padding: 48px 0 0 0;
      grid-template-areas: "total total monto" "money money money";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2rem; }
    .order .resumenPedido .total {
      grid-area: total; }
    .order .resumenPedido .monto {
      grid-area: monto;
      text-align: right; }
    .order .resumenPedido .money {
      grid-area: money;
      text-align: right;
      font-weight: 300; }
    .order .resumenPedido .total, .order .resumenPedido .monto {
      text-transform: capitalize;
      color: #53746B;
      font-size: 1.5rem;
      font-weight: 600; }
