.roundedDarkGreen {
    border-radius: 36px;
    background: #013B1C;
    color: $white;

    font: {
        size: 1.5rem;
        weight: 700;
    }
    padding: 10px;
    border: none;
}

.roundedGreen {
    @extend .roundedDarkGreen;
    background: #17822F;
    min-width: 220px;
}

.subscribe {
    background: #013B1C;
    border-radius: 4px;
    min-width: 185px;
    color: $white;
    letter-spacing: 0.16em;
    font: {
        size: 1.125rem;
        weight: 600;
    }
    border: none;
    height: 48px;
    padding: 5px 10px;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

.btnPrimary {
    background: rgba(2, 153, 36, 1);
    color: $white;
    border: none;
    font: {
        weight: 600;
        size: 1.5rem;
    }
}