// Input de cantidad

.qty {
    input {
        width: 34px;
        border: none;
        border-bottom: 1px solid $black;
        text: {
            align: center;
        }
        font: {
            weight: 600;
            size: 1.25rem;
        }
    }

    input:focus {
        border: 0;
        border-bottom: 1px solid $black;
        outline: 0px;
    }

    button {
        height: fit-content;
        border: 0;
        background: $white;
        color: $darkGreen2;
        font: {
            weight: 700;
            size: 1.2rem;
        }
    }

}