#contactImage {
    background: url("../../src/contactImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}

.contactForm {

    width: 50%;

    
    h2 {
        color: #029924;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
    }

}