#contactImage {
    background: url("../../src/contactImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}

.contactForm {

    width: 50%;
    padding: 84px 0;

    
    h2 {
        color: #029924;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
    }

}

@media all and (max-width: 768px) {
    #contactImage {
        display: none;
    }
    
    .contactForm {
        margin: 0 auto;
        width: 90%;
        padding: 74px 0;
    
    }
    
}