.postContent {
    width: 90%;
    margin: 84px auto;

    .fecha {
        text-align: right;
    }

    img {
        display: block;
        width: 100%;
        padding: 24px 0;
    }

    .cuerpoPosteo {
        width: 90%;
    }
}