.detaiLGrid {
    display: grid;
    grid-template-areas: "breadcrumbDetalle social"
    "productDetail social";
    grid-template-columns: auto 50px;
    grid-template-rows: 50px auto;

    .breadcrumbDetalle {
        grid-area: breadcrumbDetalle;
    }

    .productDetail {
        grid-area: productDetail;
        display: flex;
        justify-content: space-between;
        
        .imageProductDetail {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .infoProductDetail {
            width: 30%;
            margin: 0 auto;
            color: #4A4A4A;

            h2 {
                word-break: break-all;
                font: {
                    weight: bold;
                    size: 2.25rem;
                }
                line-height: 34px;
            }

            h3 {
                margin-top: 12px;
                font: {
                    weight: bold;
                    size: 2.25rem;
                }
                color: $darkGreen2;
            }

            .qty {
                margin-top: 24px;
                p {
                    display: inline;
                    font: {
                        weight: 600;
                        size: 1.25rem;
                    }
                    margin-right: 12px;
                }
            }

            button.btnPrimary {
                margin-top: 52px;
                width: 369px;
                height: 60px;
            }

            .productDescription {
                word-break: break-all;
                color: $black;
                font: {
                    weight: 300;
                    size: 1.25rem;
                }
                margin-top: 32px;
            }
        }
    }

    .social {
        grid-area: social;
    }
}

@media all and (max-width: 426px) {

    .detaiLGrid {
        grid-template-areas: "breadcrumbDetalle"
        "productDetail";
        grid-template-columns: auto;
        grid-template-rows: 50px;
        
        .productDetail {
            flex-flow: column wrap;
            
            .imageProductDetail {
                width: 90%;
            }
    
            .infoProductDetail {
                width: 90%;
                margin: 24px auto;
                color: #4A4A4A;
    

                button.btnPrimary {
                    width: 100%;
                }

            }
        }
    
        .social {
            display: none;
        }
    }

} // Fin media

@media all and (max-width: 768px) {

    .detaiLGrid {
    
        .productDetail {
                
            .infoProductDetail {
        
                button.btnPrimary {
                    width: 260px;
                }
    
            }
        }
    
    }


} // fin media