.content {
    width: 90%;
    margin: 0 auto;;
    height: fit-content;
    padding: 33px 0px;
}

.productContent {
    display: flex;
    flex-flow: row nowrap;
}

.productList {
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: 292px 292px 292px;
    grid-template-rows: 453px;
    grid-row-gap: 81px;
    justify-content: space-around;
    margin-bottom: 83px;
}