.content {
    width: 90%;
    margin: 0 auto;;
    height: fit-content;
    padding: 33px 0px;
}

.productContent {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.productList {
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: 292px 292px 292px;
    grid-template-rows: fit-content;
    grid-row-gap: 81px;
    justify-content: space-around;
    margin-bottom: 83px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 426px) {
    .productList {
        grid-template-columns: 45% 45% ;
    }
}

@media all and (max-width: 320px) {
    .productList {
        grid-template-columns: 95% ;
    }
}