$white: #FFF;
$lightGreen: rgba(224, 255, 229, 1);
$darkGreen: rgba(23, 130, 47, 1);
$green: rgba(34, 193, 70, 1);
$grey: rgba(233, 233, 233, 1);
$darkGrey: rgba(93, 98, 101, 1);
$lightGrey: rgba(124, 124, 124, 1);
$black: rgba(19, 18, 18, 1);